<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "All Suites">
 <suite-files>
   
   <suite-file path= "SimpleTest.xml" />
   <suite-file path= "MediumTest.xml" />
   <suite-file path= "ComplexTest.xml" />
   
  </suite-files>
   
</suite>	